
<mat-toolbar color="accent" >
    <span>Tasks application</span>
    <div class="btn-logout">
      <button mat-stroked-button tabindex="0" (click)="onLogout()">
        <span>Logout</span>
      </button>
    </div>
</mat-toolbar>
<div class="card-container">
  <div class="content">
    <button class="card card-small" tabindex="0" (click)="gotoAddTasks()">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Task</span>
    </button>
  </div>
  <div class="container">
  <mat-card class="ex-card" *ngFor="let task of tasks">
    <mat-card-header>
      <mat-card-title>{{ task.label }}</mat-card-title>
      <mat-card-subtitle><span id="gar"> Date : </span> {{ task.dueDate }} </mat-card-subtitle>
      <mat-card-subtitle><span id="gar"> Type : </span> {{ task.type }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ task.discription}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Completed
        </label>
      <button mat-stroked-button color="accent" (click)="openEditBtn()" >Edit</button>
      <button mat-stroked-button color="accent" (click)="deleteTask(task._id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>


