
<mat-toolbar color="accent" >
    <span>Tasks application</span>
</mat-toolbar>
<div class="card-container">
  <div class="content">
    <button class="card card-small" tabindex="0" (click)="openAddBtn()">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>New Task</span>
    </button>
  </div>
  <div class="container">
  <mat-card class="ex-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle> 12/11/2022 </mat-card-subtitle>
      <mat-card-subtitle> type </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="openEditBtn()" >Edit</button>
      <button mat-stroked-button color="accent">Delete</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="ex-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle> 12/11/2022 </mat-card-subtitle>
      <mat-card-subtitle> type </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent">Edit</button>
      <button mat-stroked-button color="accent">Delete</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="ex-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle> 12/11/2022 </mat-card-subtitle>
      <mat-card-subtitle> type </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent">Edit</button>
      <button mat-stroked-button color="accent">Delete</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="ex-card">
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle> 12/11/2022 </mat-card-subtitle>
      <mat-card-subtitle> type </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="accent">Edit</button>
      <button mat-stroked-button color="accent">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>


