mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  width: 500px;
  padding: 40px;
  border: none;
  border-radius: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #FB4570 0%,#EFEBE0 100%);
  opacity: 0.9
}

mat-form-field {
  display: block;
  color: #fff;
}

