<mat-card>
    <mat-card-content>
      <form (submit) = 'signup($event)'>
        <h2>Sign up</h2>
          <mat-form-field>
            <input matInput placeholder="Full Name" name="full Name" (keyup)="setFullName($event)" required>
            <mat-error>
              Please provide a valid full name
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" name="email" (keyup)="setEmail($event)" required>
            <mat-error>
              Please provide a valid Email
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" (keyup)="setPassword($event)" required>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit" >Sign up</button>
      </form>
    </mat-card-content>
    <span>
      already have account go to
      <a style='color:#fff; margin-top: 10px; text-decoration: none;' routerLink="/login" > login</a>
    </span>
</mat-card>
