.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  justify-content: center;
  color: #ff4081;
}
button {
  border: #817f80 solid 1px;
  margin-right: 12px;
  margin-top: 12px;
}
.content {
  max-width: 400px;
  margin: 5em auto;
  text-align: center;
  width: 500px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10%;
  background: #f7f5f0;
}
