  <div class="content">
  <h1 mat-dialog-title>Add new Task </h1>
<div mat-dialog-content class="container">
  <p>What will your task be again ?</p>

  <mat-form-field appearance="fill">
    <mat-label>Label </mat-label>
    <input matInput [(ngModel)]="body.label" />
  </mat-form-field>
  <mat-form-field class="example-full-width"  appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="body.dueDate"/>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix class="form-control" [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <input matInput [(ngModel)]="body.type"/>
    <mat-hint>work | personnal | growth</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="body.discription"/>
  </mat-form-field>
  <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
            Completed
  </label>
</div>
<div mat-dialog-actions class="btn">
  <button mat-stroked-button color="accent" (click)="backtoTasks()">Back</button>
  <button mat-stroked-button color="accent" cdkFocusInitial (click)="submitData()" >Add</button>
</div>
</div>
